.icon-left {
	position: absolute;
	top: 10px;
	left: 10px;
}

.icon-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.season-display.winter i {
	color: blue;
}

.season-display.summer i {
	color: red;
}

.season-display {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.season-display.winter {
	background-color: aliceblue;
}

.season-display.summer {
	background-color: orange;
}

img {
	width: 50px;
	height: 50px;
}
